<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <meta charset="UTF-8">
    <title>Add course</title>
    <style>
        .main-body{
            height: 1000px;
            margin: 0;
            padding: 0;
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <div class="main-body">
        <h4>Fill out course information to add to system</h4>
        <form th:action="@{/course/add}" method="post">
            <label for="course-name" class="required">Course name</label>
            <input type="text" name="name" placeholder="Course name..." id="course-name">
            <button type="submit" th:text="#{button.add}"></button>
        </form>
    </div>
</body>
</html>